@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
body {
  margin: 0;
  font-family: source-code-pro, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
